In [2]:
# imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import Pipeline

from sklearn.metrics import confusion_matrix, plot_confusion_matrix
from sklearn.metrics import classification_report
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, Lasso, LassoCV

from sklearn.ensemble import RandomForestRegressor

from sklearn.ensemble import AdaBoostRegressor

from sklearn.feature_extraction.text import CountVectorizer

In [3]:
train = pd.read_csv('datasets/quantified_data.csv')

In [4]:
train.head()

,00,000,0001pt,000search,01,02,02nd,03,03rd,04,...,zotdevelopment,zsbusiness,zslearning,ztpurgent,zuan,zutshi,zycus,max_experience,min_experience,average_salary
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,7,5,11.0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,17,10,17.5
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,9,5,27.5
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,10,7,17.5
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,1,6.0

In [5]:
X = train.drop(columns='average_salary')
y = train['average_salary']

In [6]:
y.value_counts(normalize=True)

17.5    0.227261
27.5    0.208323
11.0    0.178375
1.5     0.163881
6.0     0.142619
50.0    0.079541
Name: average_salary, dtype: float64

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.33,
                                                    stratify=y,
                                                    random_state=42)

In [8]:
pipe = Pipeline([
    ('ss', StandardScaler()), 
    ('lin', LinearRegression())
])

In [ ]:
pipe.fit(X_train, y_train)
pipe.score(X_train, y_train), pipe.score(X_test, y_test)

In [ ]:
pipe2 = Pipeline([
    ('ss', StandardScaler()), 
    ('knn', KNeighborsRegressor())
])

In [ ]:
pipe2.fit(X_train, y_train)
pipe2.score(X_train, y_train), pipe2.score(X_test, y_test)

In [ ]:
pipe3 = Pipeline([
    ('ss', StandardScaler()), 
    ('lassoCV', LassoCV())
])

In [ ]:
pipe3.fit(X_train, y_train)
pipe3.score(X_train, y_train), pipe3.score(X_test, y_test)

In [ ]:
pipe4 = Pipeline([
    ('ss', StandardScaler()), 
    ('rfr', RandomForestRegressor())
])

In [ ]:
pipe4.fit(X_train, y_train)
pipe4.score(X_train, y_train), pipe4.score(X_test, y_test)

In [ ]:
pipe5 = Pipeline([
    ('ss',StandardScalerdScaler()), 
    ('abr', AdaBoostRegressor())
])

In [ ]:
pipe5.fit(X_train, y_train)
pipe5.score(X_train, y_train), pipe5.score(X_test, y_test)

In [ ]:
results = {'Model': ['LinearRegression',
                     'KNeighborsRegressor',
                     'LassoCV',
                     'RandomForestRegressor',
                     'AdaBoostRegressor'],
           'train_score': [pipe.score(X_train, y_train),
                           pipe2.score(X_train, y_train),
                           pipe3.score(X_train, y_train), 
                           pipe4.score(X_train, y_train), 
                           pipe5.score(X_train, y_train)],
           'test_score': [pipe.score(X_test, y_test),
                           pipe2.score(X_test, y_test),
                           pipe3.score(X_test, y_test), 
                           pipe4.score(X_test, y_test), 
                           pipe5.score(X_test, y_test)]
          }

In [ ]:
results_df = pd.DataFrame(results)

In [ ]:
results_df