# NLP Analysis

In [1]:
# imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression

from sklearn.linear_model import LinearRegression, Lasso, LassoCV

# Import CountVectorizer and TFIDFVectorizer from feature_extraction.text.
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
train = pd.read_csv('datasets/train_cleaned.csv')

In [3]:
train.head()

,job_description,job_desig,key_skills,location,min_experience,max_experience,average_salary
0,exp minimum 5 year good understanding of ioc r...,Senior Exploit and Vulnerability Researcher,"team skills, communication skills, analytical ...",Delhi NCR(Vikas Puri),5,7,11.0
1,he should have handled a team of atleast 5 6 d...,Head SCM,"ppc, logistics, inventory management, supply c...",Sonepat,10,17,17.5
2,must be an effective communicator written spok...,Deputy Manager - Talent Management & Leadershi...,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,5,9,27.5
3,7 10 year of overall experience in data engine...,Associate Manager Data Engineering,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,7,10,17.5
4,chartered accountancy degree or mba in finance...,TS- GSA- Senior Analyst,"accounting, finance, cash flow, financial plan...",Gurgaon,1,3,6.0

In [4]:
X = train['job_description']
y = train['average_salary']

In [5]:
# y = y.astype(int)

In [6]:
y.value_counts(normalize=True)

17.5    0.227261
27.5    0.208323
11.0    0.178375
1.5     0.163881
6.0     0.142619
50.0    0.079541
Name: average_salary, dtype: float64

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.33,
                                                    random_state=42)

In [8]:
# pipe = Pipeline([
#     ('cv', CountVectorizer(stop_words='english')), 
#     ('mnb', MultinomialNB())
# ])

In [9]:
# pipe.fit(X_train, y_train)
# pipe.score(X_train, y_train), pipe.score(X_test, y_test)

In [12]:
pipe2 = Pipeline([
    ('cv', CountVectorizer(stop_words='english', min_df = 3)), 
    ('lassoCV', LinearRegression())
])

In [13]:
pipe2.fit(X_train, y_train)
pipe2.score(X_train, y_train), pipe2.score(X_test, y_test)

(0.4570462020863819, 0.09353306145576201)