In [1]:
# imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import Pipeline

from sklearn.metrics import confusion_matrix, plot_confusion_matrix
from sklearn.metrics import classification_report
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, Lasso, LassoCV

from sklearn.ensemble import RandomForestRegressor

from sklearn.ensemble import AdaBoostRegressor

In [2]:
train = pd.read_csv('datasets/train_cleaned.csv')

In [3]:
train.head()

,job_description,job_desig,key_skills,location,min_experience,max_experience,average_salary
0,exp minimum 5 year good understanding of ioc r...,Senior Exploit and Vulnerability Researcher,"team skills, communication skills, analytical ...",Delhi NCR(Vikas Puri),5,7,11.0
1,he should have handled a team of atleast 5 6 d...,Head SCM,"ppc, logistics, inventory management, supply c...",Sonepat,10,17,17.5
2,must be an effective communicator written spok...,Deputy Manager - Talent Management & Leadershi...,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,5,9,27.5
3,7 10 year of overall experience in data engine...,Associate Manager Data Engineering,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,7,10,17.5
4,chartered accountancy degree or mba in finance...,TS- GSA- Senior Analyst,"accounting, finance, cash flow, financial plan...",Gurgaon,1,3,6.0

In [4]:
X = train[['min_experience', 'max_experience']]
y = train['average_salary']

In [5]:
y.value_counts(normalize=True)

17.5    0.227261
27.5    0.208323
11.0    0.178375
1.5     0.163881
6.0     0.142619
50.0    0.079541
Name: average_salary, dtype: float64

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.33,
                                                    stratify=y,
                                                    random_state=42)

In [7]:
pipe = Pipeline([
    ('ss', StandardScaler()), 
    ('lin', LinearRegression())
])

In [8]:
pipe.fit(X_train, y_train)
pipe.score(X_train, y_train), pipe.score(X_test, y_test)

(0.44519293328447984, 0.4517977532242401)

In [9]:
pipe2 = Pipeline([
    ('ss', StandardScaler()), 
    ('knn', KNeighborsRegressor())
])

In [10]:
pipe2.fit(X_train, y_train)
pipe2.score(X_train, y_train), pipe2.score(X_test, y_test)

(0.36900719529285275, 0.3667163780506978)

In [11]:
pipe3 = Pipeline([
    ('ss', StandardScaler()), 
    ('lassoCV', LassoCV())
])

In [12]:
pipe3.fit(X_train, y_train)
pipe3.score(X_train, y_train), pipe3.score(X_test, y_test)

(0.44519249837128017, 0.45178798931219477)

In [13]:
pipe4 = Pipeline([
    ('ss', StandardScaler()), 
    ('rfr', RandomForestRegressor())
])

In [14]:
pipe4.fit(X_train, y_train)
pipe4.score(X_train, y_train), pipe4.score(X_test, y_test)

(0.4754562763796447, 0.46866775614322387)

In [15]:
pipe5 = Pipeline([
    ('ss', StandardScaler()), 
    ('abr', AdaBoostRegressor())
])

In [16]:
pipe5.fit(X_train, y_train)
pipe5.score(X_train, y_train), pipe5.score(X_test, y_test)

(0.4397754267781733, 0.4412893359420992)

In [17]:
results = {'Model': ['LinearRegression',
                     'KNeighborsRegressor',
                     'LassoCV',
                     'RandomForestRegressor',
                     'AdaBoostRegressor'],
           'train_score': [pipe.score(X_train, y_train),
                           pipe2.score(X_train, y_train),
                           pipe3.score(X_train, y_train), 
                           pipe4.score(X_train, y_train), 
                           pipe5.score(X_train, y_train)],
           'test_score': [pipe.score(X_test, y_test),
                           pipe2.score(X_test, y_test),
                           pipe3.score(X_test, y_test), 
                           pipe4.score(X_test, y_test), 
                           pipe5.score(X_test, y_test)]
          }

In [18]:
results_df = pd.DataFrame(results)

In [19]:
results_df

                   Model  train_score  test_score
0       LinearRegression     0.445193    0.451798
1    KNeighborsRegressor     0.369007    0.366716
2                LassoCV     0.445192    0.451788
3  RandomForestRegressor     0.475456    0.468668
4      AdaBoostRegressor     0.439775    0.441289