# Create the full shoes dataset

In [1]:
import pandas as pd

### Import the New Balance data I created

In [2]:
newbalance = pd.read_csv('datasets/newbalance_data.csv')

In [3]:
newbalance.head()

,title_token,title_tokens_merged,subreddit
0,"['ordered', 'a', 'pair', 'of', 'these', 'my', ...",ordered a pair of these my first 327 s im in love,Newbalance
1,"['started', 'grey', 'day', 'getting', 'a', 'li...",started grey day getting a lil hooked,Newbalance
2,"['started', 'grey', 'day', 'getting', 'a', 'li...",started grey day getting a lil hooked,Newbalance
3,"['started', 'on', 'grey', 'day', 'getting', 'a...",started on grey day getting a lil hooked,Newbalance
4,"['when', 'will', 'these', 'drop', 'on', 'the',...",when will these drop on the nb website i have ...,Newbalance

### Import the Nike data I created

In [4]:
nike = pd.read_csv('datasets/nike_data.csv')

In [5]:
nike.head()

,title_token,title_tokens_merged,subreddit
0,"['should', 'i', 'go', 'half', 'a', 'size', 'up...",should i go half a size up nike basketball shoes,Nike
1,"['check', 'out', 'this', 'colab', 'i', 'made',...",check out this colab i made with the jordan 1 ...,Nike
2,"['thoughts', 'on', 'the', 'upcoming', 'nike', ...",thoughts on the upcoming nike jordan releases ...,Nike
3,"['why', 'are', 'they', 'not', 'selling', 'the'...",why are they not selling the nike sfb s anymore,Nike
4,"['will', 'there', 'ever', 'be', 'a', 'restock'...",will there ever be a restock on nike jordan 1 ...,Nike

### Join the two datasets to get the final full shoes dataset

In [6]:
shoes_data = newbalance.append(nike)

In [7]:
shoes_data

,title_token,title_tokens_merged,subreddit
0,"['ordered', 'a', 'pair', 'of', 'these', 'my', ...",ordered a pair of these my first 327 s im in love,Newbalance
1,"['started', 'grey', 'day', 'getting', 'a', 'li...",started grey day getting a lil hooked,Newbalance
2,"['started', 'grey', 'day', 'getting', 'a', 'li...",started grey day getting a lil hooked,Newbalance
3,"['started', 'on', 'grey', 'day', 'getting', 'a...",started on grey day getting a lil hooked,Newbalance
4,"['when', 'will', 'these', 'drop', 'on', 'the',...",when will these drop on the nb website i have ...,Newbalance
...,...,...,...
994,"['what', 'are', 'those', 'found', 'them', 'in'...",what are those found them in my basement and k...,Nike
995,"['new', 'air', 'force', '1s', 'stained']",new air force 1s stained,Nike
996,"['did', 'nike', 'discontinue', 'these', 'mediu...",did nike discontinue these medium olive boots ...,Nike
997,"['should', 'i', 'wear', 'them', 'or', 'you', '...",should i wear them or you think the price will...,Nike
998,"['1985', '3', 'piece']",1985 3 piece,Nike

In [8]:
shoes_data.isnull().sum()

title_token            0
title_tokens_merged    6
subreddit              0
dtype: int64

### Drop the missing values

In [9]:
shoes_data = shoes_data.dropna()

In [10]:
shoes_data.isnull().sum()

title_token            0
title_tokens_merged    0
subreddit              0
dtype: int64

### Save the dataset to a csv

In [11]:
shoes_data.to_csv('datasets/shoes_data.csv', index=False)