# Initial Data Cleaning

### Imports

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.max_rows', 101)

In [3]:
train = pd.read_csv('datasets/Final_Train_Dataset.csv', index_col=0)

In [4]:
test = pd.read_csv('datasets/Final_Test_Dataset.csv', index_col=0)

In [5]:
train.head()

,experience,job_description,job_desig,job_type,key_skills,location,salary,company_name_encoded
0,5-7 yrs,Exp: Minimum 5 years;Good understanding of IOC...,Senior Exploit and Vulnerability Researcher,NaN,"team skills, communication skills, analytical ...",Delhi NCR(Vikas Puri),6to10,3687
1,10-17 yrs,He should have handled a team of atleast 5-6 d...,Head SCM,NaN,"ppc, logistics, inventory management, supply c...",Sonepat,10to15,458
2,5-9 yrs,Must be an effective communicator (written & s...,Deputy Manager - Talent Management & Leadershi...,Analytics,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,15to25,4195
3,7-10 yrs,7 - 10 years of overall experience in data e...,Associate Manager Data Engineering,Analytics,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,10to15,313
4,1-3 yrs,Chartered Accountancy degree or MBA in Finance...,TS- GSA- Senior Analyst,NaN,"accounting, finance, cash flow, financial plan...",Gurgaon,3to6,1305

In [6]:
train.shape

(19802, 8)

In [7]:
train.isnull().mean().sort_values(ascending=False)

job_type                0.757752
job_description         0.223109
key_skills              0.000050
experience              0.000000
job_desig               0.000000
location                0.000000
salary                  0.000000
company_name_encoded    0.000000
dtype: float64

In [8]:
train = train[train['key_skills'].notna()]

In [9]:
train.isnull().sum().sort_values(ascending=False)

job_type                15005
job_description          4417
experience                  0
job_desig                   0
key_skills                  0
location                    0
salary                      0
company_name_encoded        0
dtype: int64

In [10]:
train[train['job_description'].isnull()]

,experience,job_description,job_desig,job_type,key_skills,location,salary,company_name_encoded
26,3-7 yrs,NaN,"E Commerce Manager,",NaN,"amazon, E - commerce, PORTAL HANDLING, Busines...",Ahmedabad(Bopal),3to6,895
37,2-5 yrs,NaN,IBM Netezza,Analytics,"SQL, Oracle, Python, Analytics, Data migration...",Bengaluru,6to10,190
41,2-5 yrs,NaN,Business Development Executive,NaN,"cold calling, digital marketing, social media,...",Chennai,3to6,4946
44,5-9 yrs,NaN,CN - Strategy - MC - Resources - Utilities - 06,Analytics,"Analytics, System integration, Asset managemen...",Gurgaon,10to15,191
58,0-5 yrs,NaN,Data Entry/home Base Job/ Online Work/part Tim...,NaN,"part time, freelancing, data entry, present jo...","Udaipur, Ajmer, Kota, Sangrur, Aurangabad, Muz...",0to3,1153
...,...,...,...,...,...,...,...,...
19775,1-5 yrs,NaN,R1rcm- Accretive Analyst/ Senior Analyst Backe...,NaN,"bpo, kpo, non bpo, night shift, us process, uk...",Gurgaon,0to3,2094
19776,0-1 yrs,NaN,Software Sales CRM,analytics,"software sales, selling, predictive analytics,...",Hyderabad(Madhapur),0to3,269
19782,1-4 yrs,NaN,"Credit Manager,",NaN,"Financial Analysis, Credit Analysis, Finance, ...",Delhi NCR(Peeragarhi),0to3,3940
19797,12-18 yrs,NaN,"Director, Medical Coding Training",NaN,"Medical Coding, ICD - 10, US Healthcare, RCM, ...",Hyderabad,15to25,2245
19798,0-3 yrs,NaN,Looking For Freshers WHO WANT To Work WITH US,NaN,"offline, online, part time, home base, work fr...","Mumbai, Bengaluru, Chennai, Hyderabad, Dehradu...",0to3,4966

### Fill in missing job descriptions with 'not_specified'

In [11]:
train.fillna('not_specified', inplace=True)

In [12]:
train.isnull().sum()

experience              0
job_description         0
job_desig               0
job_type                0
key_skills              0
location                0
salary                  0
company_name_encoded    0
dtype: int64

In [13]:
train['experience'].unique()

array(['5-7 yrs', '10-17 yrs', '5-9 yrs', '7-10 yrs', '1-3 yrs',
       '5-10 yrs', '13-15 yrs', '6-10 yrs', '2-6 yrs', '3-7 yrs',
       '10-12 yrs', '2-4 yrs', '1-6 yrs', '3-6 yrs', '5-8 yrs', '4-9 yrs',
       '3-5 yrs', '1-5 yrs', '8-12 yrs', '1-4 yrs', '10-20 yrs',
       '2-5 yrs', '6-11 yrs', '4-8 yrs', '3-4 yrs', '2-7 yrs', '7-12 yrs',
       '7-8 yrs', '14-16 yrs', '8-10 yrs', '0-5 yrs', '10-14 yrs',
       '8-11 yrs', '12-20 yrs', '3-8 yrs', '1-2 yrs', '8-13 yrs',
       '9-12 yrs', '10-15 yrs', '0-2 yrs', '11-15 yrs', '15-25 yrs',
       '6-9 yrs', '12-15 yrs', '0-3 yrs', '4-7 yrs', '4-6 yrs',
       '14-20 yrs', '2-3 yrs', '9-14 yrs', '12-17 yrs', '15-20 yrs',
       '0-1 yrs', '0-0 yrs', '12-16 yrs', '6-8 yrs', '0-4 yrs',
       '20-30 yrs', '7-9 yrs', '17-23 yrs', '4-5 yrs', '12-18 yrs',
       '10-16 yrs', '6-7 yrs', '10-18 yrs', '12-22 yrs', '15-24 yrs',
       '2-2 yrs', '8-9 yrs', '14-24 yrs', '13-23 yrs', '10-13 yrs',
       '1-1 yrs', '9-13 yrs', '15-18 yrs', '11-18 yrs', '7-11 yrs',
       '10-19 yrs', '11-14 yrs', '9-11 yrs', '5-6 yrs', '11-17 yrs',
       '12-14 yrs', '13-17 yrs', '13-20 yrs', '11-20 yrs', '11-13 yrs',
       '9-10 yrs', '15-16 yrs', '18-25 yrs', '13-18 yrs', '15-22 yrs',
       '11-16 yrs', '15-17 yrs', '20-28 yrs', '14-21 yrs', '14-15 yrs',
       '10-10 yrs', '13-14 yrs', '14-18 yrs', '19-25 yrs', '13-19 yrs',
       '16-26 yrs', '14-22 yrs', '18-22 yrs', '18-20 yrs', '11-12 yrs',
       '20-22 yrs', '13-16 yrs', '14-17 yrs', '15-21 yrs', '8-8 yrs',
       '12-19 yrs', '16-20 yrs', '14-19 yrs', '19-23 yrs', '11-21 yrs',
       '10-11 yrs', '5-5 yrs', '17-24 yrs', '12-13 yrs', '4-4 yrs',
       '16-18 yrs', '16-22 yrs', '20-26 yrs', '17-19 yrs', '17-25 yrs',
       '20-25 yrs', '23-30 yrs'], dtype=object)

In [14]:
train['location'].unique()

array(['Delhi NCR(Vikas Puri)', 'Sonepat', 'Delhi NCR', ...,
       'Bengaluru, Mumbai, Gurgaon, Gurugram', 'Amravati',
       'Mumbai, Bengaluru, Chennai, Hyderabad, Dehradun, Gurgaon'],
      dtype=object)

In [15]:
print(train['location'].value_counts())

Bengaluru                                                   4168
Mumbai                                                      2507
Gurgaon                                                     1644
Pune                                                        1193
Hyderabad                                                   1083
                                                            ...
Pune(Paud Road)                                                1
Bengaluru(Kaggadasapura)                                       1
Pune, Jaipur                                                   1
Delhi NCR, Mumbai(Vikhroli)                                    1
Mumbai, Bengaluru, Chennai, Hyderabad, Dehradun, Gurgaon       1
Name: location, Length: 1504, dtype: int64

In [16]:
# the only job_type is analytics just with different cases 
train['job_type'].unique()

array(['not_specified', 'Analytics', 'analytics', 'Analytic', 'ANALYTICS',
       'analytic'], dtype=object)

In [17]:
# same thing with the test data 
test['job_type'].unique()

array([nan, 'Analytics', 'analytics', 'ANALYTICS', 'Analytic', 'analytic'],
      dtype=object)

### I can go ahead and drop the job_type column

In [18]:
train.drop(columns={'job_type'}, inplace=True)

### I can also drop the company_name_encoded column

In [19]:
train.drop(columns={'company_name_encoded'}, inplace=True)

In [20]:
train.head()

,experience,job_description,job_desig,key_skills,location,salary
0,5-7 yrs,Exp: Minimum 5 years;Good understanding of IOC...,Senior Exploit and Vulnerability Researcher,"team skills, communication skills, analytical ...",Delhi NCR(Vikas Puri),6to10
1,10-17 yrs,He should have handled a team of atleast 5-6 d...,Head SCM,"ppc, logistics, inventory management, supply c...",Sonepat,10to15
2,5-9 yrs,Must be an effective communicator (written & s...,Deputy Manager - Talent Management & Leadershi...,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,15to25
3,7-10 yrs,7 - 10 years of overall experience in data e...,Associate Manager Data Engineering,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,10to15
4,1-3 yrs,Chartered Accountancy degree or MBA in Finance...,TS- GSA- Senior Analyst,"accounting, finance, cash flow, financial plan...",Gurgaon,3to6

### Create min_experience and max_experience columns from the experience column

In [21]:
train['min_experience'] = [int(each.split('-')[0]) for each in train['experience']]

In [22]:
train['max_experience'] = [int(each.split('-')[1].split(' ')[0]) for each in train['experience']]

### Create average_salary column from salary column, average_salary column will become target variable

In [23]:
train['min_salary'] = [int(each.split('to')[0]) for each in train['salary']]

In [24]:
train['max_salary'] = [int(each.split('to')[1]) for each in train['salary']]

In [25]:
train['average_salary'] = train['min_salary'] + train['max_salary']/2

In [26]:
train.head()

,experience,job_description,job_desig,key_skills,location,salary,min_experience,max_experience,min_salary,max_salary,average_salary
0,5-7 yrs,Exp: Minimum 5 years;Good understanding of IOC...,Senior Exploit and Vulnerability Researcher,"team skills, communication skills, analytical ...",Delhi NCR(Vikas Puri),6to10,5,7,6,10,11.0
1,10-17 yrs,He should have handled a team of atleast 5-6 d...,Head SCM,"ppc, logistics, inventory management, supply c...",Sonepat,10to15,10,17,10,15,17.5
2,5-9 yrs,Must be an effective communicator (written & s...,Deputy Manager - Talent Management & Leadershi...,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,15to25,5,9,15,25,27.5
3,7-10 yrs,7 - 10 years of overall experience in data e...,Associate Manager Data Engineering,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,10to15,7,10,10,15,17.5
4,1-3 yrs,Chartered Accountancy degree or MBA in Finance...,TS- GSA- Senior Analyst,"accounting, finance, cash flow, financial plan...",Gurgaon,3to6,1,3,3,6,6.0

### Drop the min and max salary columns just created along with the experience and salary columns

In [27]:
train.drop(columns={'min_salary', 'max_salary', 'experience', 'salary'}, inplace=True)

In [28]:
train.head()

,job_description,job_desig,key_skills,location,min_experience,max_experience,average_salary
0,Exp: Minimum 5 years;Good understanding of IOC...,Senior Exploit and Vulnerability Researcher,"team skills, communication skills, analytical ...",Delhi NCR(Vikas Puri),5,7,11.0
1,He should have handled a team of atleast 5-6 d...,Head SCM,"ppc, logistics, inventory management, supply c...",Sonepat,10,17,17.5
2,Must be an effective communicator (written & s...,Deputy Manager - Talent Management & Leadershi...,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,5,9,27.5
3,7 - 10 years of overall experience in data e...,Associate Manager Data Engineering,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,7,10,17.5
4,Chartered Accountancy degree or MBA in Finance...,TS- GSA- Senior Analyst,"accounting, finance, cash flow, financial plan...",Gurgaon,1,3,6.0

In [29]:
train.to_csv('datasets/train_first_clean.csv', index=False)