In [ ]:
# imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import Pipeline

from sklearn.metrics import confusion_matrix, plot_confusion_matrix
from sklearn.metrics import classification_report
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, Lasso, LassoCV

from sklearn.ensemble import RandomForestRegressor

from sklearn.ensemble import AdaBoostRegressor

from sklearn.feature_extraction.text import CountVectorizer

from google.colab import drive, files

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
train = pd.read_csv('drive/MyDrive/capstone_project/train_cleaned.csv')

In [ ]:
train.head()

                                     job_description  ... average_salary
0  exp minimum 5 year good understanding of ioc r...  ...           11.0
1  he should have handled a team of atleast 5 6 d...  ...           17.5
2  must be an effective communicator written spok...  ...           27.5
3  7 10 year of overall experience in data engine...  ...           17.5
4  chartered accountancy degree or mba in finance...  ...            6.0

[5 rows x 7 columns]

In [ ]:
train['cv_data'] = train["job_description"] + train['job_desig'] + train['key_skills'] + train['location']

In [ ]:
X = train['cv_data']
y = train['average_salary']

In [ ]:
y.value_counts(normalize=True)

17.5    0.227261
27.5    0.208323
11.0    0.178375
1.5     0.163881
6.0     0.142619
50.0    0.079541
Name: average_salary, dtype: float64

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.33,
                                                    stratify=y,
                                                    random_state=42)

In [ ]:
pipe = Pipeline([
    ('cv', CountVectorizer()),
    ('ss', StandardScaler(with_mean=False)), 
    ('lin', LinearRegression())
])

In [ ]:
pipe.fit(X_train, y_train)
pipe.score(X_train, y_train), pipe.score(X_test, y_test)

(0.925134376626968, -1.2022971613412703)

In [ ]:
pipe2 = Pipeline([
    ('cv', CountVectorizer()),
    ('ss', StandardScaler(with_mean=False)), 
    ('knn', KNeighborsRegressor())
])

In [ ]:
pipe2.fit(X_train, y_train)
pipe2.score(X_train, y_train), pipe2.score(X_test, y_test)

(0.49519721015876095, 0.22020185867511566)

In [ ]:
# pipe3 = Pipeline([
#     ('cv', CountVectorizer()), 
#     ('lassoCV', LassoCV())
# ])

In [ ]:
# pipe3.fit(X_train, y_train)
# pipe3.score(X_train, y_train), pipe3.score(X_test, y_test)

In [ ]:
pipe4 = Pipeline([
    ('cv', CountVectorizer()),
    ('ss', StandardScaler(with_mean=False)), 
    ('rfr', RandomForestRegressor())
])

In [ ]:
pipe4.fit(X_train, y_train)
pipe4.score(X_train, y_train), pipe4.score(X_test, y_test)

(0.8711679757892901, 0.43489613037297015)

In [ ]:
pipe5 = Pipeline([
    ('cv', CountVectorizer()),
    ('ss', StandardScaler(with_mean=False)), 
    ('abr', AdaBoostRegressor())
])

In [ ]:
pipe5.fit(X_train, y_train)
pipe5.score(X_train, y_train), pipe5.score(X_test, y_test)

(0.07643019795096173, 0.05837231027415368)

In [ ]:
results = {'Model': ['LinearRegression',
                     'KNeighborsRegressor',
                     #'LassoCV',
                     'RandomForestRegressor',
                     'AdaBoostRegressor'],
           'train_score': [pipe.score(X_train, y_train),
                           pipe2.score(X_train, y_train),
                           #pipe3.score(X_train, y_train), 
                           pipe4.score(X_train, y_train), 
                           pipe5.score(X_train, y_train)],
           'test_score': [pipe.score(X_test, y_test),
                           pipe2.score(X_test, y_test),
                           #pipe3.score(X_test, y_test), 
                           pipe4.score(X_test, y_test), 
                           pipe5.score(X_test, y_test)]
          }

In [ ]:
results_df = pd.DataFrame(results)

In [ ]:
results_df

                   Model  train_score  test_score
0       LinearRegression     0.925134   -1.202297
1    KNeighborsRegressor     0.495197    0.220202
2  RandomForestRegressor     0.871168    0.434896
3      AdaBoostRegressor     0.076430    0.058372